.main-screen {
  background: url(/src/assets/view/main-backgraund.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  max-height: 1024px;
  height: 100%;
 
}
.main-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.main-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 80%;
}

.artist-btn{
  margin-right: 20px;
}
.logo {
  background: url(/src/assets/view/artquizlogowhite.svg);
  background-size: cover;
  margin: 0 auto;
  max-width: 440px;
  width: 100%;
  max-height: 165px;
  height: 100%;
  margin-bottom: 10%;
}
.default-settings-button,
    .save-settings-button {
      width: 268px;
      height: 62px;
    }

@media screen and (max-width: 360px) {
  .main-screen {
    font-size: 14px;
  }
  .main-main {
    margin-top: 60%;
    margin-bottom: 25px;
  }
  
}
@media screen and (max-width: 768px) {
  .kind-of-game-buttons {
    display: flex;
    flex-direction: column;
  }
  .artist-btn {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .logo {
    height: 120px;

    width: 322px;
    margin-bottom: 0%;
  }
}
@media screen and (max-width: 1024px) {
}
