.wrapper {
  background-color: #fff;
}

.overlay {
  width: 100%;
  min-height: 100vh;
  background: #838688a0;

  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-window {
  max-width: 522px;
  height: 689px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
}

.modal-wrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 94%;
}
.img-answer {
  background: url(../assets/view/plugForCorrecrWrong.jpg);
  max-width: 462px;
  width: 100%;
  height: 416px;

  position: relative;
}
.img-answer,
.answer-icon,
.img-congrat,
.img-grand {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.answer-block {
  text-align: center;
}
.answer-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}

.answer-subtitle {
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.next-question-button {
  background: #ffbca2;
  border: 2px #fff solid;
  border-radius: 30px;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  height: 62px;
  max-width: 400px;
  width: 100%;
}
.navigation-congrat,
.navigation-game-over{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.home-congrat-button,
.next-congrat-button,
.no-button,
.yes-button{
  max-width: 210px;
  width: 100%;
  height: 62px;
  border-radius: 30px;
  font-weight: 500;
font-size: 22px;
line-height: 22px;
cursor: pointer;
}
.home-congrat-button:hover,
.next-congrat-button:hover,
.no-button:hover,
.yes-button:hover{
  background: #ffbca2;
  border: 2px #fff solid;
}
.home-congrat-button,
.next-congrat-button,
.next-question-button:hover,
.no-button,
.yes-button {
  background: transparent;
  border: 2px #000 solid;
}
.answer-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.correct {
  background: url(../assets/view/correct.png);
}
.wrong {
    background: url(../assets/view/wrong.png);
}

/* CONGRATULATIONS */
.img-congrat{
  background: url(../assets/view/champion-cup.png);
  max-width: 189px;
  width: 100%;
  height: 178px;
}
.modal-window-short{
  max-height: 608px;
  margin: 40px;
  
}

.score-congrat{
  font-weight: bold;
font-size: 82px;
line-height: 102px;
}

.title-congrat{
  font-weight: 600;
font-size: 42px;
line-height: 51px;
text-align: center;
}

/* GRAND */
.img-grand{
  background: url(../assets/view/starts.png);
  max-width: 322px;
  width: 100%;
  height: 125px;
}

.title-grand{
  font-weight: bold;
  font-size: 77.8195px;
  line-height: 78px;
  text-align: center;
}
.subtitle-grand{
  text-align: center;
  font-weight: normal;
font-size: 42px;
line-height: 50px;
}

/* GAME OVER */
.img-game-over{
  background: url(../assets/view/over-champion-cup.png);
}

.title-game-over{
  font-weight: bold;
  font-size: 62px;
  line-height: 90px;
  text-align: center;
}
.subtitle-game-over{
  font-weight: normal;
font-size: 42px;
line-height: 50px;
text-align: center;
}
@media screen and (max-width: 360px) {
  .modal-window {
    max-width: 328px;
    height: 436px;
    
  }
  .title-congrat{
    font-weight: 500;
font-size: 22px;
line-height: 28px;
  }

  .home-congrat-button,
.next-congrat-button{
    font-weight: 500;
font-size: 16px;
line-height: 18px;
max-width: 150px;
  width: 100%;
  height: 48px;
  }

  .score-congrat{
    font-size: 48px;
line-height: 28px;
  }
  .img-congrat,
  .img-game-over{
    max-width: 169px;
  width: 100%;
  height: 160px;
 
  }
  .modal-window-short{
    
    margin: 10px;
    
  }
  .title-grand{
    font-size: 52.3417px;
line-height: 52px;
  }
  .subtitle-grand{
    font-weight: 500;
font-size: 22px;
line-height: 28px;
  }
  .img-grand{
    max-width: 276px;
    height: 107px;
  }
  .img-grand,
  .img-congrat,
  .img-game-over
  {background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}

  .title-game-over{
    font-weight: bold;
font-size: 36px;
line-height: 28px;
  }

  .subtitle-game-over{
    font-size: 22px;
line-height: 28px;
  }
}
@media screen and (max-width: 768px) {
}
