.slider {
  max-width: 330px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.questions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}
.picture {
  background: url(../assets/view/plugforPictures.jpg);
  max-width: 400px;
  width: 100%;
  height: 280px;
  border-radius: 20px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.pictures-main{
  margin:  0 auto;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .picture {
    max-width: 320px;
    height: 307px;
    margin-top: 20px;
  }
  .pictures {
    justify-content: center;
  }
}
@media screen and (max-width: 360px) {
  .picture {
    max-width: 155px;
    height: 163px;
    margin-top: 10px;
  }

  .pictures {
    margin-top: 20%;
  }
}
